@page
@model IndexModel
@{
    ViewData["Title"] = "Список книг";
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Автор</th>
            <th>Название</th>
            <th>Год издания</th>
        </tr>
    </thead>
    <tbody>
        @foreach(Book book in Model.Books)
        {
            <tr>
                <td>@book.Author.Name</td>
                <td>@book.Title</td>
                <td>@book.PublishedAt.Year.ToString()</td>
            </tr>
        }
    </tbody>
</table>
